<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="Simplicity Itself"/>

    <title>ProLMS</title>

</head>
<body>
<div class="row">
    <div class="well col-md-6 col-md-offset-2">

        <div id="message" class="alert alert-info" data-th-if="${message}">
            <strong data-th-text="${message}"></strong>
        </div>

        <form id="loginForm" method="post" action="#" data-th-action="@{/login}"
              class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Kullanıcı Adı</label>

                <div class="col-sm-4">
                    <input title="Boş geçilemez." type="text" id="username" name="username"
                           class="form-control" placeholder="Kullanıcı Adı" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Şifre</label>

                <div class="col-sm-4">
                    <input title="Şifrenizi Giriniz." type="password" id="password" name="password"
                           class="form-control" placeholder="Şifre" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <input type="submit" class="btn btn-primary" value="Giriş Yap"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>